<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionQuizDB" 
             connectionString="Data Source=DESKTOP-SFB5OFQ;Initial Catalog=Zaya;User ID=sa"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>